body{
    margin: 0;
    font: 16px/1.35 Calibri, Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #fff;
}
a,
a:hover{text-decoration: none;}
h1{
    font: normal 28px/1.2 helvetica,arial,sans-serif;
}
h1,h2,h3{
    margin:0 0 12px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mb15px{
    margin-bottom : 15px !important;
}
.wrapper{
    overflow: hidden;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.heading-2{
    border-bottom: 1px solid #ECD9AC;
    font-size:18px;
    font-weight: normal;
    text-align: left;
    color: #181818;
    margin: 0 0 20px;
    padding: 0 0 5px 25px;
    background: url("https://www.discountfurnacefilter.com/skin/frontend/default/em0067/images/search_logo.png") no-repeat;
}
.clock-img{
    background: url("https://www.discountfurnacefilter.com/media/wysiwyg/dffauto/clock-banner-img.png")no-repeat;
    width: 22px;
    height: 19px;
}
.more{
    display: inline-block;
    vertical-align: middle;
    padding: 2px 11px;
    background: #791016;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.header{
    padding: 8px 0;
}
.top-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0 0 10px;
}
.top-links a{
    color: #991d1f;
}
.menu-btn{
    margin-right: 12px;
    border: 0;
    background: #991d1f;
    color: #fff;
}
.dff_links{
    display: flex;
}
.dff_links li{
    margin-right: 16px;
}
.cart{
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: 13px;
    padding: 5px 8px 5px 38px;
    background: url(https://www.discountfurnacefilter.com/skin/frontend/default/em0067/images/icons.png) no-repeat 4px -44px #6f1108;
    border: 1px solid #6f1108;
}
.cart .h3{color: #fff;}
.main-content{padding-bottom: 20px;}
.delivery-block{
    background: #363e4c;
    font-size: 16px;
    color: #fff;
    border-top:4px solid #991d1f;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.delivery-block span{
    display: inline-block;
    vertical-align: middle;
}
.delivery-block .text{
    margin-bottom: 8px;
}
.product-list{
    padding: 12px 0 0;
}
.product-list .item{
    display: block;
    padding: 5px 8px 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background: #eee;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%);
}
.item .img-wrap{
    display: block;
    margin-bottom: 8px;
}
.item .heading-2{
    font-size: 16px;
    line-height: 24px;
    color: #800000;
}
.sponsors-block{
    margin-bottom: 12px;
}
.top-sellers{
    margin-bottom: 12px;
}
.menu_nav{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1;
}
.menu_nav strong,
.menu_nav a{
    display: block;
    margin-bottom: 8px;
    color: #000;
    text-align: left;
}
.section-default{ margin-bottom: 12px;}
.section-default .text{margin-bottom: 12px;}
.section-default a{
    color: #800000;
    text-decoration: underline;
}
.section-default p{
    text-align: left;
    margin-bottom: 0;
}
.section-default ul{
    padding-left : 15px;
    list-style: disc;
}
.section-default ul li{
    margin-bottom : 10px;
}
#sidebar-left{
    padding: 10px 20px 0;
    background: #800000;
}
.btn-holder{
    display: flex;
    justify-content: flex-end;
}
.btn-holder button{
    border: 0;
    background-color: #fff;
    color: #800000;
}
.main-menu{
    width: 250px;
    color: #fff;
}
.main-menu ul ul{
    margin: 0 0 8px 8px;
}
.main-menu a{
    color: #fff;
}
.main-menu h5{
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.category-head{
    margin-bottom: 24px;
}
.category-head .container{
    text-align: left;
}
.description-holder{
    border: #eaeaea solid 1px;
    padding: 10px;
}
.category-products .container{
    text-align: left;
}
.item-product-amount{
    margin-bottom: 12px;
}
.item-product{
    padding: 10px;
    margin-bottom: 12px;
    font-family:Arial, Helvetica, sans-serif;;
    color: #991D1A;
    box-shadow: 0 0 10px #eee;
}
.item-product .product-image{
    text-align: center;
    display: block;
    margin-bottom: 12px;
}
.item-product .product-name{
    font-size: 16px;
    line-height:1.35;
}
.item-product a{
    color: #991D1A;
}
.price-box{
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 12px;
}
.price-box .price{
    color: #555;
    margin-right: 8px;
}
.add-to-cart-product-list{
    margin-bottom: 12px;
}
.add-to-cart-product-list .btn-cart{
    border: 0;
    padding:8px 16px;
    background: #791016;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}
.out-of-stock{
    margin-top: 12px;
    font-weight: bold;
    color: #000;
}
.learn-more{

}
.product-img-box-outer{
    padding : 15px 0;
}
.product-img-box{
    padding: 10px;
    border: 1px solid #e8e8e8;
}
.product-name h1{
    margin-bottom : 10px;
    font-size : 20px;
    text-align : left;
    color : #333;
    word-break: break-all;
}
.rating-box{
    width: 77px;
    height: 12px;
    margin : 0 auto;
    font-size: 0;
    line-height: 0;
    background: url(https://www.discountfurnacefilter.com/skin/frontend/default/em0067/images/bkg_rating.png) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
}
.rating-box .rating{
    height: 12px;
    background: url(https://www.discountfurnacefilter.com/skin/frontend/default/em0067/images/bkg_rating.png) 0 100% repeat-x;
}
.rating-box .rating[data-active-count="1"]{width : 20%;}
.rating-box .rating[data-active-count="2"]{width : 40%;}
.rating-box .rating[data-active-count="3"]{width : 60%;}
.rating-box .rating[data-active-count="4"]{width : 80%;}
.rating-box .rating[data-active-count="5"]{width : 100%;}
.rating-links a{
    color : #791016;
}
.qulityparent {
    display: inline-block;
}
.product-shop .sku{text-align : left;}
.product-shop .price-box{
    text-align : left;
    font-size : 21px;
}
.proqulity {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin : 0 10px;
    width : 83px;
    height : 83px;
    border-radius : 100%;
    background-color : #ccc;
}
.proqulity:after{
    content : '';
    position : absolute;
    top : 3px;
    left : 3px;
    width: 71px;
    height: 71px;
    border: 3px solid #fff;
    border-radius: 100%;
}
.proqulity span {
    left: 0;
    position: absolute;
    top: 25px;
    width: 100%;
    font-size: 27px;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    text-shadow: 1px 1px #969696;
    font-weight: bold;
}
.proqulity:nth-child(2) span{
    font-size : 20px;
}
.option-list-outer{
    margin-bottom : 30px;
}
.option-list{
    text-align: left;
    counter-reset: li;
    list-style: none;
    padding: 0;
    font-size : 14px;
}
.option-list li{
    position : relative;
    padding-left : 35px;
    margin-bottom : 15px;
}
.option-list li:before{
    content : counter(li);
    counter-increment: li;
    position : absolute;
    top : -6px;
    left : 0;
    width : 28px;
    height : 28px;
    padding : 2px 7px;
    border-radius : 100%;
    font-size : 20px;
    color : #fff;
    font-weight : bold;
    text-align : center;
    background-color : #9f0f0d;
    box-sizing: border-box;
}
.option-list .title{
    font :bold 12px/1.35 Arial, Helvetica, sans-serif;
    display : block;
    margin-bottom : 10px;
}
.option-list select{
    padding : 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.option-list-outer .row-field{margin-bottom : 10px;}
.option-list-outer .add-cart-btn{margin-left : 35px;}
.mark-green{color : #30842F;}
.label-with-icon{
    position : relative;
    padding-right : 35px;
}
.label-with-icon:before{
    content : '';
    position : absolute;
    top : -6px;
    right : 0;
    background: url(https://www.discountfurnacefilter.com/skin/frontend/default/em0067/images/free-img.png) no-repeat;
    width: 30px;
    height: 23px;
}

.btn-holder-secondary{
    display: flex;
    justify-content: flex-start;
}
.add-cart-btn{
    padding: 15px 25px;
    border: 0;
    border-radius: 3px;
    background: #30842F;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.heading-3{
    font: normal 24px/1.35 arial,helvetica,sans-serif;
    border-top: 1px solid #951c1e;
    border-bottom: 1px  solid #ddd;
    text-transform : uppercase;
    color : #333;
    margin-bottom : 10px;
}
.box-description{
    text-align: left;
}
.box-additional{
    text-align: left;
}
.data-table{
    width: 100%;
}
.footer{
    padding: 30px 0;
    background-color: #800000;
}
.footer ul{text-align: left;}
.footer ul li{margin-bottom: 12px;}
.footer a{color: #fff;}
.footer_about_us_wrap{
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px #fff;
}
.footer_about_us_wrap:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
.footer_title{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
    text-align: left;
}
.footer .social_media{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}
.copyright{
    color: #fff;
    font-style: normal;
}